{{set . "page" "home"}}
{{set . "title" "Home"}}

{{template "header.html" .}}
<div class="container">

    <p>Last Update: 15-Oct-2013 (<a href="http://en.wikipedia.org/wiki/Aeronautical_Information_Publication#Overview" target="_blank">AIP / AIRAC</a> 2013.10) - <a href="http://data.x-plane.com/get_data.html" target="_blank">AptNav201310XP1000.zip</a></p>

    <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Navigation Data for FlightGear</h1>

        <p>This project takes the latest <a href="http://data.x-plane.com/" target="_xplane">xplane data</a>, imports it to a postgis spatial database ready for querying on demand. It is intended
        as a "permanent" feed moving foward and making the latest data available and updated regular. The data returned
        is formatted in various formats and in a practical way with a lot of the calculations already done, such as the middle of an airport, runway center point, orientation and displaced threshold etc.
        Ideal for mashups, et all invited.
        </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
      
        <div class="col-lg-4">
            <h2>JSON API</h2>
            <p>Query data using the json api, this is getting reasonably stable as an API.</p>
            <p><a class="btn btn-primary" href="/json-api" role="button">JSON &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>XML API</h2>
            <p>This is experimental and more coming soon, once its decided what the api is</p>
            <p><a class="btn btn-primary" href="/xml-api" role="button">JSON &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>KML API</h2>
            <p>Use google earch or marble map</p>
            <p><a class="btn btn-primary" href="/kml-api" role="button">View details &raquo;</a></p>
        </div>
      </div>
      
      

    <p><i>This project is new and needs some love, lacks golang developers, and specifically revel developers to advice wanted </i></p>

    </div>
{{template "footer.html" .}}
